:root {
    --clr-nav: #4F0E0E;
    --clr-body: #FFDADA;
    --clr-white: #EEEEEE;
    --clr-btn: #BB8760;
    --clr-btn-hover: #a56432;
    --clr-tags: #FFF1F1;
    --clr-delete: #91091E;
    --clr-delete-hover: #a00f25;
    --clr-edit: #D67D3E;
    --clr-edit-hover: #e58643;
    --clr-lenguages : #C65D7B;
    --clr-add: #F68989;
}

body {
    background-color: var(--clr-body);
}

.navbar {
    background-color: var(--clr-nav);
}

.btn-search, .btn-create {
    background-color: var(--clr-btn);
    color: var(--clr-white);
}

.card {
    background-color: var(--clr-tags);
}

.btn-tags {
    background-color: var(--clr-btn);
    color: var(--clr-white);
}

.btn-tags:hover, .btn-search:hover, .btn-create:hover {
    background-color: var(--clr-btn-hover);
    color: var(--clr-white);
}

.form {
    border: 1px dotted #BB8760 !important;
}

.btn-clear {
    background-color: #DEA057;
    color: var(--clr-white);
}

.btn-clear:hover{
    background-color: #dd933d;
    color: var(--clr-white);
}

.tag {
    background-color: #733C3C;
    color: var(--clr-white);
}

.btn-edit {
    background-color: var(--clr-edit);
    color: var(--clr-white);
}

.btn-edit:hover {
    background-color: var(--clr-edit-hover);
    color: var(--clr-white);
}


.btn-delete {
    background-color: var(--clr-delete);
    color: var(--clr-white);
}

.btn-delete:hover {
    background-color: var(--clr-delete-hover);
    color: var(--clr-white);
}

/* ESTILO A LA DESCRIPCION DE LAS TAGS EN MAIN */
.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* ESTILO DEL SPINNER */
.loader {
    width: 32px;
    height: 90px;
    display: block;
    margin: 20px auto;
    position: relative;
    border-radius: 50% 50% 0 0;
    border-bottom: 10px solid #FF3D00;
    background-color: #FFF;
    background-image: radial-gradient(ellipse at center, #FFF 34%, #FF3D00 35%, #FF3D00 54%, #FFF 55%), linear-gradient(#FF3D00 10px, transparent 0);
    background-size: 28px 28px;
    background-position: center 20px, center 2px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: animloaderBack 1s linear infinite alternate;
}

.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 44px;
    border-radius: 50%;
    box-shadow: 0px 15px #FF3D00 inset;
    top: 67px;
}

.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 34px;
    height: 34px;
    top: 112%;
    background: radial-gradient(ellipse at center, #ffdf00 8%, rgba(249, 62, 0, 0.6) 24%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50% 50% 0;
    background-repeat: no-repeat;
    background-position: -44px -44px;
    background-size: 100px 100px;
    box-shadow: 4px 4px 12px 0px rgba(255, 61, 0, 0.5);
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloaderBack {

    0%,
    30%,
    70% {
        transform: translateY(0px);
    }

    20%,
    40%,
    100% {
        transform: translateY(-5px);
    }
}

@keyframes animloader {
    0% {
        box-shadow: 4px 4px 12px 2px rgba(255, 61, 0, 0.75);
        width: 34px;
        height: 34px;
        background-position: -44px -44px;
        background-size: 100px 100px;
    }

    100% {
        box-shadow: 2px 2px 8px 0px rgba(255, 61, 0, 0.5);
        width: 30px;
        height: 28px;
        background-position: -36px -36px;
        background-size: 80px 80px;
    }
}

@media screen and (max-width: 1220px) {
    .jobs-list {
        width: 900px;
    }
}

@media screen and (max-width: 900px) {
    .jobs-list {
        width: 600px;
    }

    .form-create-job{
        margin: 0;
        max-width: 100%;
    }

    .section-details {
        margin: 0 !important;
        padding: 0 !important;
    }

    .section-edit-job{
        margin: 0 !important;
        padding: 0 !important;
    }

    .card-details {
        margin: 2rem;
    }

    .form-edit-job{
        border: 0 !important;
        box-shadow: none !important;
    }

}

@media screen and (max-width: 600px) {
    .jobs-list {
        width: 288px;
    }

    .container-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1;
    }

    .section-create-job{
        margin: 0 !important;
        padding: 0 !important;
    }

    .form-create-job{
        border: 0 !important;
        box-shadow: none !important;
    }

}

@media screen and (max-width: 450px) {
    .container-form {
        display: grid;
        grid-template-columns: 1fr;
    }

    .section-details{
        margin: 5px !important;
    }

    .card-details{
        margin: auto;
    }
}

.search-select {
    min-width: 10rem;
}

li {
    list-style: none;
}

.btn-add {
    background-color: var(--clr-add);
}

.btn-close {
    width: .3em;
    height: .3em;
}

.btn-lenguages, .btn-lenguages-edit {
    background-color: var(--clr-lenguages);
    color: var(--clr-white);
}